* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
}

li {
    list-style: none;
}

.clr {

    clear: both;
    background-color: #0872b9;
}

.container {
    width: 940px;
    margin: 0 auto;
    background-color: #0872b9;
}
.nav-container{
    
}

img {
    vertical-align: middle;
}

.pera_text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #e7e7e7;
    font-size: 13px;
}

.mt {
    margin-top: 60px;
}

.tittle {
    text-align: center;
}

.tittle h2 {
    font-size: 24px;
    font-weight: 500px;
    font-family: 'Oswald', sans-serif;
    color: #353535;
    text-transform: uppercase;
    ;
    display: inline-block;
    /* position: relative; */

}

.tittle h2 img {
    /* position: absolute; */
    left: 0;
    bottom: 0;
}

.mar {
    margin-right: 0 !important;
}

/* common css end */

/* header part start */

#header {
    padding: 10px 0;
    background-color: #0872b9;
}

#header .left {
    width: 50%;
    background-color: #0872b9;
    float: left;
}

#header .right {
    width: 50%;
    background-color: #0872b9;
    float: left;
}

#header .pera_text {
    font-size: 14px;
}

#header .right {
    text-align: right;
}

#header .right a i {
    font-size: 14px;
    color: #e7e7e7;
    margin-left: 24px;
    transition: .4s;
}

#header .right a i:hover {
    color: #353535;
}

/* header part end */

/* main manu part statr */

#main_manu {
    height: 80px;
    background-color: 	aqua;
}

#main_manu .logo {
    width: 22%;

    float: left;
}

#main_manu .manu {
    width: 78%;

    float: left;
    text-align: right;
}

#main_manu .logo a {
    line-height: 80px;
}

#main_manu .manu ul li {
    display: inline-block;
    line-height: 80px;
    margin-left: 16px;
}

#main_manu .manu ul li a {
    font-size: 14px;
    color: #353535;
}

#main_manu .manu ul li a:hover {
    color: #0872b9;

}

/* main manu part  end */

#banner {

    background: url(/public/img/banner.png) no-repeat center;
    background-size: cover;
    padding: 88px 0;
    position: relative;
    z-index: 1;
    text-align: right;

}

#banner .overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

#banner h2 {

    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;

}

#banner h1 {

    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 10px;

}

#banner p {

    line-height: 24px;
    width: 445px;
    margin: 0 0 0 auto;
}

#banner a {

    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    padding: 8px 16px;
    border: 1px solid;
    margin-left: 20px;
    margin-top: 25px;
    transition: .4s;

}

#banner .hire {
    background-color: #0872b9;
    border-color: #0872b9;
}

#banner .hire:hover {
    border-color: #fff;
    background-color: transparent;
}

#banner .contact:hover {
    background-color: #0872b9;
    border-color: #0872b9;
}
